footer {
	margin-top: -400px;
	margin-bottom: 50px;
}
.footer {
	margin-top: 0px !important;
}
.footer-line-1 {
	margin-top: 60px !important;
	margin: 0px 120px;
	height: 2px;
	background-color: #8d7d66;
}
.foot-desktop {
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}
.footer-logo {
	align-items: center;
	margin-left: 120px;
	text-decoration: none;
	display: flex;
	flex-direction: row;
}
.footer-logo-name {
	margin-left: 5px;
	font-family: "Integral CF";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 168%;
	/* identical to box height, or 24px */

	letter-spacing: -0.025em;

	background: linear-gradient(135deg, #ffd699 0%, #cbaa7a 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.footer-copyright-1 {
	font-family: "SF Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 168%;
	/* identical to box height, or 27px */

	letter-spacing: -0.015em;

	color: #e0d8ca;
}
.footer-links {
	margin-right: 120px;
	display: flex;
}
.footer-link {
	margin-left: 12px;
}
.footer-stars {
	position: relative;
	width: 1440px;
	height: 690.15px;
	left: 0px;
	top: 0px;

	/* background: url(../../assets/stars-bg@2x.png); */
	mix-blend-mode: screen;
	/* opacity: 0.28; */
	object-fit: cover;
	/* Inside auto layout */

	flex: none;
	order: 2;
	flex-grow: 0;
	z-index: -1;
}
.stars-bg-footer {
	top: 1px;
	height: 690.15px;
	object-fit: cover;
	opacity: 0.5;
	mix-blend-mode: screen;
	z-index: 1;
}
.ctr-footer {
	margin-top: -500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.talktohuman {
	box-sizing: border-box;

	/* Auto layout */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 120px;
	gap: 36px;

	width: 668px;
	height: 277px;

	background: #262129;
	border: 2.8px solid #8d7d66;

	/* Inside auto layout */

	flex: none;
	order: 4;
	flex-grow: 0;
	z-index: 4;
}
.talktohumans {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 16px;

	width: 428px;
	height: 113px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.talktohumanhead {
	/* width: 304px; */
	height: 43px;

	font-family: "Montserrat";
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 120%;
	/* or 43px */

	text-align: center;
	letter-spacing: -0.02em;

	color: #f5ce93;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}
.talktohumanheader {
	width: 428px;
	height: 54px;

	/* Body/Med-16 */

	font-family: "SF Pro";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 168%;
	/* or 27px */

	text-align: center;
	letter-spacing: -0.015em;

	color: #e0d8ca;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}
.cta_talktohuman {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 100%;
	max-width: 500px;
	gap: 16px;
}
.cta_talktohuman button,
.cta_talktohuman input {
	height: 100%;
	border: none;
	color: #fff;
	border-radius: 50px;
}

.cta_talktohuman input {
	width: 100%;
	padding: 0 20px;
	background-color: #0e0e0e;
	outline: none;
	font-size: 16px;
}
.cta_talktohuman button {
	padding: 12px 24px;
	border-radius: 48px;
	font-family: var(--body-med-16);
	font-size: 14px;
	background: linear-gradient(135deg, #9d54c2, #66288f);
}

.cta_talktohuman button,
.cta_talktohuman input {
	height: 100%;
	border: none;
	color: #fff;
	border-radius: 50px;
}
button:disabled {
	pointer-events: none;
	opacity: 0.6;
}
@media screen and (min-width: 750px) and (max-width: 900px) {
	.footer-line-1 {
		margin: 0px 60px;
	}
	.footer-logo {
		margin-left: 60px;
	}
	.footer-links {
		margin-right: 60px;
	}
}

@media screen and (max-width: 750px) {
	.footer-line-1 {
		display: none;
	}
	.footer-copyright-1 {
		display: none;
	}
}

.footer-link img{
	height: 36px;
	width: 36px;
}