.CustomerReviewCards {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-left: 120px;
	padding-top: 31px;
	margin-top: 40px;
	gap: 40px;

	position: absolute;
	max-width: 90%;
	height: 396px;
	overflow-x: scroll;
}
.CustomerReviewCards {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.CustomerReviewCards::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.CustomerReview {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 8px;
	margin-left: 120px;
}
.CustomerReviewHead {
	width: 439px;
	height: 48px;

	/* Head-40 */

	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 120%;
	/* identical to box height, or 48px */

	letter-spacing: -0.02em;
	text-transform: uppercase;

	color: #ffdaa2;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.CustomerReviewsh2 {
	width: 355px;
	height: 34px;

	/* Body/Med-20 */

	font-family: "SF Pro";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 168%;
	/* identical to box height, or 34px */

	letter-spacing: -0.015em;

	color: #ad9f8a;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
}
.CustomerStars {
	position: relative;
	max-width: 100%;
	/* height: 80vh; */
	left: -2px;
	top: 1px; 


	/* background: url(../../assets/stars.webp); */
	mix-blend-mode: screen;
	/* opacity: 0.8; */
}
.stars-bg-customer {
	top: 1px;
	height: 790.15px;
	object-fit: cover;
	opacity: 0.5;
	mix-blend-mode: screen;
	z-index: 1;
}
